* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(131, 58, 180);
    background: linear-gradient(282deg, rgba(131, 58, 180, 1) 0%, rgba(90, 113, 194, 1) 50%, rgba(55, 66, 166, 1) 100%);
}
.wrapper {
    position: relative;
    width: 350px;
    height: 350px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: colorful 30s linear infinite;
}
@keyframes colorful {
    100%{
        filter: hue-rotate(360deg);
    }
    
}
.bar-seconds,
.number-hours{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #081b29;
    
    border-radius: 50%;
} 
.bar-seconds span{
    position: absolute;
    transform: rotate(calc(var(--index)*6deg));
    inset: 3px;
    text-align: center;
    z-index: 1;
}
.bar-seconds span p{
    display: inline-block;
    width: 2px;
    height: 10px;
    background: #0ef;
    border-radius: 2px;
    box-shadow: 0 0 5px #0ef;
}
.bar-seconds span:nth-child(5n) p{
    background: white;
    width: 5px;
    height: 15px;
    transform: translateY(2px);
}
.number-hours span{ 
    position: absolute; 
    transform: rotate(calc(var(--index)*30deg));
    inset: 18px;
    text-align: center; 
    border-radius: 50%;
}
.number-hours span p{
    font-size: 32px;
    transform: rotate(calc(var(--index)* -30deg));
    color: #0eF;
}
.hands-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hands-box .circle1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 1;

}
.hands-box .circle1 .circle2{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:#0ef;
    z-index: 2;

}
.hands-box .hand{
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.hands-box .hand i{
    display: inline-block;
    transform-origin: bottom;
    border-radius: 50%;
    box-shadow: 0,0,10px #0ef;
} 
.hands-box .hours{
    width: 200px;
    height: 200px;
    /* border: 2px solid red; */
}
.hands-box .hours i{
    width: 8px;
    height: 100px;
    background:#0ef; 
}
.hands-box .minutes{
    width: 260px;
    height: 260px;
    /* border: 2px solid yellow; */
}
 
.hands-box .minutes i{
    width: 6px;
    height: 130px;
    background:#0ef;
     
}
.hands-box .seconds{
    width: 300px;
    height: 300px; 
    /* border: 2px solid white; */
}
.hands-box .seconds i{
    width: 4px;
    height: calc(150px + 50px);
    background:white;
    box-shadow: none;
}